<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Links homepage</title>
</head>
<body>
	<h2>welcome home page</h2>
	<label for="addingLink">add product</label>
	<a href="/addProduct" id="addingLink"><button>add</button></a>
	<label for="showLink">show products</label>
	<a href="/show" id="showLink"><button>show</button></a>
	<br/>
	<label for="registerLink">register</label>
	<a href="/register" id="registerLink"><button>register</button></a>
	<label for="loginLink">login</label>
	<a href="/login" id="loginLink"><button>login</button></a>
	<br/>
	<br/>
	<label for="showLink">show products</label>
	<a href="/show" id="showLink"><button>show products</button></a>
	<label for="showCartLink">show cart</label>
	<a href="/showShoppingCart" id="showCartLink"><button>show cart</button></a>
	<br/>
	<label for="showOrdersLink">show orders</label>
	<a href="/showOrders" id="showOrdersLink"><button>show orders</button></a>
</body>
</html>