<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<style type="text/css">
	th, td {
		padding: 15px;
	}
</style>
</head>
<body>

	<H2>Search for products</H2>
	<form action="#" th:action="@{/shopping}" method="post">
		<input type="text" name="searchText" placeholder="product name" />
		<input type="submit" value="Search" />
	</form>

	<table>
		<tr>
			<th>Product name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Available</th>
			<th>Buy</th>
		</tr>
		
		<tr th:each="product : ${productList}">
			<td> <span th:text="${product.name}"></span> </td>
			<td> <span th:text="${product.description}"></span> </td>
			<td> <span th:text="${product.price}"></span> </td>
			<td> <span th:text="${product.quantityAvailable}"></span> </td>
			
			<td>
				<form action="#" th:action="@{/addProductToCart}" method="post">
					<input type="hidden" name="productId" th:value="${product.id}" />
					<input type="number" value="0" name="quantity" />
					<input type="submit" value="Add to cart" />
				</form>
			</td>
		</tr>
	</table>
	
</body>
</html>